<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bikin Polling - Voting App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Buat Polling Baru</h1>
        <div class="options">
            <input type="text" id="poll-title" placeholder="Pertanyaan lu apa?">
            <input type="text" id="poll-options" placeholder="Opsi 1, Opsi 2, Opsi 3 (Pisahkan koma)">
            
            <button class="vote-btn create-btn" onclick="createPoll()">Generate Link Polling</button>
        </div>
        
        <div id="result-link" style="display: none;">
            </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
